{% extends 'views/Base/base.html' %}

{% load staticfiles %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/magnific-popup.css' %}"/>
{% endblock %}

{% block title %}Построенные объекты - OcOO "Ак Тулпар"{% endblock %}

{% block header_image %}
    <div class="header_image main-image">
        <div class="page_title">
            Построенные объекты
        </div>
    </div>
{% endblock %}

{% block handlers %}
    <div class="modal">

    </div>
{% endblock %}

{% block content %}
    <div class="padding-20">
        <div class="complex-title">ЖИЛОЙ КОМПЛЕКС «УЛАН-2»</div>

        <div class="complex-content">
            <div class="complex-photos">
                <ul>
                    <li><img src="{% static 'images/new-planing/ulan/photo(ulan)/20160826_110248-min.jpg' %}"/></li>
                    <li><img src="{% static 'images/new-planing/ulan/photo(ulan)/20160826_110256-min.jpg' %}"/></li>
                    <li><img src="{% static 'images/new-planing/ulan/photo(ulan)/20160826_111237-min.jpg' %}"/></li>
                    <li><img src="{% static 'images/new-planing/ulan/photo(ulan)/20160826_111339-min.jpg' %}"/></li>
                    <li><img src="{% static 'images/new-planing/ulan/photo(ulan)/20160826_111356-min.jpg' %}"/></li>
                    <li><img src="{% static 'images/new-planing/ulan/photo(ulan)/20160826_112110-min.jpg' %}"/></li>
                    <li><img src="{% static 'images/new-planing/ulan/photo(ulan)/20160826_112416-min.jpg' %}"/></li>
                    <li><img src="{% static 'images/new-planing/ulan/photo(ulan)/20160826_112427-min.jpg' %}"/></li>
                    <li><img src="{% static 'images/new-planing/ulan/photo(ulan)/20160826_112443-min.jpg' %}"/></li>
                </ul>
            </div>
            <div class="complex-planing">
                <ul>
                    <li>
                        <div>
                            <img src="{% static 'images/new-planing/ulan/1-1-1-1-1/1-1-1-1-1.png' %}" width="720" />
                            <p>*Фактическая площадь квартир может отличаться от проектной в пределах +- 1 м<sup>2</sup></p>
                            <ul class="planing-render">
                                <li><img src="{% static 'images/new-planing/ulan/1-1-1-1-1/1.png' %}" /></li>
                                <li><img src="{% static 'images/new-planing/ulan/1-1-1-1-1/2.png' %}" /></li>
                                <li><img src="{% static 'images/new-planing/ulan/1-1-1-1-1/3.png' %}" /></li>
                                <li><img src="{% static 'images/new-planing/ulan/1-1-1-1-1/4.png' %}" /></li>
                                <li><img src="{% static 'images/new-planing/ulan/1-1-1-1-1/5.png' %}" /></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="{% static 'images/new-planing/ulan/2-1-1-2/2-1-1-2.png' %}" width="720" />
                            <p>*Фактическая площадь квартир может отличаться от проектной в пределах +- 1 м<sup>2</sup></p>
                            <ul class="planing-render">
                                <li><img src="{% static 'images/new-planing/ulan/2-1-1-2/1.png' %}" /></li>
                                <li><img src="{% static 'images/new-planing/ulan/2-1-1-2/2.png' %}" /></li>
                                <li><img src="{% static 'images/new-planing/ulan/2-1-1-2/3.png' %}" /></li>
                                <li><img src="{% static 'images/new-planing/ulan/2-1-1-2/4.png' %}" /></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="{% static 'images/new-planing/ulan/3-2-2/3-2-2.png' %}" width="720" />
                            <p>*Фактическая площадь квартир может отличаться от проектной в пределах +- 1 м<sup>2</sup></p>
                            <ul class="planing-render">
                                <li><img src="{% static 'images/new-planing/ulan/3-2-2/1.png' %}" /></li>
                                <li><img src="{% static 'images/new-planing/ulan/3-2-2/2.png' %}" /></li>
                                <li><img src="{% static 'images/new-planing/ulan/3-2-2/3.png' %}" /></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="complex-title">ЖИЛОЙ КОМПЛЕКС «Солнечный»</div>

        <div class="complex-content">
            <div class="complex-photos">
                <ul>
                    <li><img src="{% static 'images/new-planing/sunny/photo(solnech)/20161130_130627-min.jpg' %}"/></li>
                    <li><img src="{% static 'images/new-planing/sunny/photo(solnech)/20161130_130635-min.jpg' %}"/></li>
                    <li><img src="{% static 'images/new-planing/sunny/photo(solnech)/20161130_130648-min.jpg' %}"/></li>
                    <li><img src="{% static 'images/new-planing/sunny/photo(solnech)/20161130_130711-min.jpg' %}"/></li>
                    <li><img src="{% static 'images/new-planing/sunny/photo(solnech)/20161130_130728-min.jpg' %}"/></li>
                    <li><img src="{% static 'images/new-planing/sunny/photo(solnech)/20161130_130743-min.jpg' %}"/></li>
                    <li><img src="{% static 'images/new-planing/sunny/photo(solnech)/20161130_130800-min.jpg' %}"/></li>
                    <li><img src="{% static 'images/new-planing/sunny/photo(solnech)/20161130_131002-min.jpg' %}"/></li>
                    <li><img src="{% static 'images/new-planing/sunny/photo(solnech)/20161130_131008-min.jpg' %}"/></li>
                </ul>
            </div>
            <div class="complex-planing">
                <ul>
                    <li>
                        <div>
                            <img src="{% static 'images/new-planing/sunny/2-1-1-2/2-1-1-2.jpg' %}" width="720" />
                            <p>*Фактическая площадь квартир может отличаться от проектной в пределах +- 1 м<sup>2</sup></p>
                            <ul class="planing-render">
                                <li><img src="{% static 'images/new-planing/sunny/2-1-1-2/1.png' %}" /></li>
                                <li><img src="{% static 'images/new-planing/sunny/2-1-1-2/2.png' %}" /></li>
                                <li><img src="{% static 'images/new-planing/sunny/2-1-1-2/3.png' %}" /></li>
                                <li><img src="{% static 'images/new-planing/sunny/2-1-1-2/4.png' %}" /></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="{% static 'images/new-planing/sunny/2-2-1-2-2/2-2-1-2-2.jpg' %}" width="720" />
                            <p>*Фактическая площадь квартир может отличаться от проектной в пределах +- 1 м<sup>2</sup></p>
                            <ul class="planing-render">
                                <li><img src="{% static 'images/new-planing/sunny/2-2-1-2-2/1.png' %}" /></li>
                                <li><img src="{% static 'images/new-planing/sunny/2-2-1-2-2/2.png' %}" /></li>
                                <li><img src="{% static 'images/new-planing/sunny/2-2-1-2-2/3.png' %}" /></li>
                                <li><img src="{% static 'images/new-planing/sunny/2-2-1-2-2/4.png' %}" /></li>
                                <li><img src="{% static 'images/new-planing/sunny/2-2-1-2-2/5.png' %}" /></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="{% static 'images/new-planing/ulan/3-2-2/3-2-2.jpg' %}" width="720" />
                            <p>*Фактическая площадь квартир может отличаться от проектной в пределах +- 1 м<sup>2</sup></p>
                            <ul class="planing-render">
                                <li><img src="{% static 'images/new-planing/sunny/3-2-2/1.png' %}" /></li>
                                <li><img src="{% static 'images/new-planing/sunny/3-2-2/2.png' %}" /></li>
                                <li><img src="{% static 'images/new-planing/sunny/3-2-2/3.png' %}" /></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ block.super }}

    <script src="{% static 'js/jquery.magnific-popup.js' %}"></script>
    <script src="{% static 'js/area.js' %}"></script>
    <script>
        var magnificTrigger = $('img');
        $(magnificTrigger).bind('click', function (e) {
            e.preventDefault();
            $.magnificPopup.open({
                items: {
                    src: $(this).attr('src')
                },
                type: 'image'
            });
        });
    </script>
{% endblock %}