{% extends 'views/Base/base.html' %}

{% load staticfiles %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/slick.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/slick-theme.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/magnific-popup.css' %}" />
{% endblock %}


{% block title %}Главная - OcOO "Ак Тулпар"{% endblock %}

{% block header_image %}
    <div class="header_image">
        <div class="page_title">
            ОТ 500$ ЗА КВ.М.<br/>
            <span>Самые выгодные цены на жильё в Бишкеке</span>
        </div>
        <div id="header-slider">
            <div><img src="{% static 'images/render/1.png' %}" /></div>
            <div><img src="{% static 'images/render/2 (1).png' %}" /></div>
            <div><img src="{% static 'images/render/2.png' %}" /></div>
            <div><img src="{% static 'images/render/3.png' %}" /></div>
            <div><img src="{% static 'images/render/4.png' %}" /></div>
            <div><img src="{% static 'images/render/5.png' %}" /></div>
            <div><img src="{% static 'images/render/9.png' %}" /></div>
            <div><img src="{% static 'images/render/11 (1).png' %}" /></div>
            <div><img src="{% static 'images/render/11.png' %}" /></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="padding-20 inline-block">
        <div class="complex-title">Фотогаллерея</div>
        <div class="photo-gallery">
            <div class="complex-photos">
                <ul>
                    <li><a href="{% static 'images/photos/IMG_3384.JPG' %}" class="overlay-trigger"><img src="{% static 'images/photos/IMG_3384.JPG' %}"/></a></li>
                    <li><a href="{% static 'images/photos/IMG_3392.JPG' %}" class="overlay-trigger"><img src="{% static 'images/photos/IMG_3392.JPG' %}"/></a></li>
                    <li><a href="{% static 'images/photos/IMG_3393.JPG' %}" class="overlay-trigger"><img src="{% static 'images/photos/IMG_3393.JPG' %}"/></a></li>
                    <li><a href="{% static 'images/photos/IMG_3373.JPG' %}" class="overlay-trigger"><img src="{% static 'images/photos/IMG_3373.JPG' %}"/></a></li>
                    <li><a href="{% static 'images/photos/IMG_3374.JPG' %}" class="overlay-trigger"><img src="{% static 'images/photos/IMG_3374.JPG' %}"/></a></li>
                    <li><a href="{% static 'images/photos/IMG_3380.JPG' %}" class="overlay-trigger"><img src="{% static 'images/photos/IMG_3380.JPG' %}"/></a></li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ block.super }}
    <script src="{% static 'js/jquery.magnific-popup.js' %}"></script>
    <script src="{% static 'js/slick.js' %}"></script>
    <script>
        $('#header-slider').slick({
            infinite: true,
            speed: 500,
            arrows: true,
            dots: true,
            autoplay: true,
        });

        $('.overlay-trigger').magnificPopup({
            type: 'image',
            zoom: {
                enabled: true
            }
        });
    </script>
{% endblock %}