{% extends 'views/Base/base.html' %}

{% load staticfiles %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/slick.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/slick-theme.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/magnific-popup.css' %}" />
{% endblock %}


{% block title %}Главная - OcOO "Ак Тулпар"{% endblock %}

{% block header_image %}
    <div class="header_image">
        <div class="page_title">
            ОТ 2100$<br/>
            <span>Самые выгодные цены на жильё в Бишкеке</span>
        </div>
        <div id="header-slider">
            <div><img src="{% static 'images/render/1.png' %}" /></div>
            <div><img src="{% static 'images/render/2 (1).png' %}" /></div>
            <div><img src="{% static 'images/render/2.png' %}" /></div>
            <div><img src="{% static 'images/render/3.png' %}" /></div>
            <div><img src="{% static 'images/render/4.png' %}" /></div>
            <div><img src="{% static 'images/render/5.png' %}" /></div>
            <div><img src="{% static 'images/render/9.png' %}" /></div>
            <div><img src="{% static 'images/render/11 (1).png' %}" /></div>
            <div><img src="{% static 'images/render/11.png' %}" /></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="padding-20 inline-block">
        <div class="complex-title">Генплан</div>
        <div class="complex-planing">
            <ul>
                <li>
                    <div>
                        <a href="{% static 'images/genplan.jpg' %}" class="overlay-trigger"><img src="{% static 'images/genplan.jpg' %}" width="100%" /></a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="complex-title">Фотогаллерея</div>
        <div class="photo-gallery">
            <div class="complex-photos">
                <ul>
                    <li><a href="{% static 'images/new-planing/ulan/photo(ulan)/20160826_110248-min.jpg' %}"
                           class="overlay-trigger"><img src="{% static 'images/new-planing/ulan/photo(ulan)/20160826_110248-min.jpg' %}"/></a></li>
                    <li><a href="{% static 'images/new-planing/ulan/photo(ulan)/20160826_110256-min.jpg' %}"
                           class="overlay-trigger"><img src="{% static 'images/new-planing/ulan/photo(ulan)/20160826_110256-min.jpg' %}"/></a></li>
                    <li><a href="{% static 'images/new-planing/ulan/photo(ulan)/20160826_111237-min.jpg' %}"
                           class="overlay-trigger"><img src="{% static 'images/new-planing/ulan/photo(ulan)/20160826_111237-min.jpg' %}"/></a></li>
                    <li><a href="{% static 'images/new-planing/ulan/photo(ulan)/20160826_111339-min.jpg' %}"
                           class="overlay-trigger"><img src="{% static 'images/new-planing/ulan/photo(ulan)/20160826_111339-min.jpg' %}"/></a></li>
                    <li><a href="{% static 'images/new-planing/ulan/photo(ulan)/20160826_111356-min.jpg' %}"
                           class="overlay-trigger"><img src="{% static 'images/new-planing/ulan/photo(ulan)/20160826_111356-min.jpg' %}"/></a></li>
                    <li><a href="{% static 'images/new-planing/ulan/photo(ulan)/20160826_112110-min.jpg' %}"
                           class="overlay-trigger"><img src="{% static 'images/new-planing/ulan/photo(ulan)/20160826_112110-min.jpg' %}"/></a></li>
                    <li><a href="{% static 'images/new-planing/ulan/photo(ulan)/20160826_112416-min.jpg' %}"
                           class="overlay-trigger"><img src="{% static 'images/new-planing/ulan/photo(ulan)/20160826_112416-min.jpg' %}"/></a></li>
                    <li><a href="{% static 'images/new-planing/ulan/photo(ulan)/20160826_112427-min.jpg' %}"
                           class="overlay-trigger"><img src="{% static 'images/new-planing/ulan/photo(ulan)/20160826_112427-min.jpg' %}"/></a></li>
                    <li><a href="{% static 'images/new-planing/ulan/photo(ulan)/20160826_112443-min.jpg' %}"
                           class="overlay-trigger"><img src="{% static 'images/new-planing/ulan/photo(ulan)/20160826_112443-min.jpg' %}"/></a></li>
                    <li><a href="{% static 'images/new-planing/sunny/photo(solnech)/20161130_130627-min.jpg' %}"
                           class="overlay-trigger"><img src="{% static 'images/new-planing/sunny/photo(solnech)/20161130_130627-min.jpg' %}"/></a></li>
                    <li><a href="{% static 'images/new-planing/sunny/photo(solnech)/20161130_130635-min.jpg' %}"
                           class="overlay-trigger"><img src="{% static 'images/new-planing/sunny/photo(solnech)/20161130_130635-min.jpg' %}"/></a></li>
                    <li><a href="{% static 'images/new-planing/sunny/photo(solnech)/20161130_130648-min.jpg' %}"
                           class="overlay-trigger"><img src="{% static 'images/new-planing/sunny/photo(solnech)/20161130_130648-min.jpg' %}"/></a></li>
                    <li><a href="{% static 'images/new-planing/sunny/photo(solnech)/20161130_130711-min.jpg' %}"
                           class="overlay-trigger"><img src="{% static 'images/new-planing/sunny/photo(solnech)/20161130_130711-min.jpg' %}"/></a></li>
                    <li><a href="{% static 'images/new-planing/sunny/photo(solnech)/20161130_130728-min.jpg' %}"
                           class="overlay-trigger"><img src="{% static 'images/new-planing/sunny/photo(solnech)/20161130_130728-min.jpg' %}"/></a></li>
                    <li><a href="{% static 'images/new-planing/sunny/photo(solnech)/20161130_130743-min.jpg' %}"
                           class="overlay-trigger"><img src="{% static 'images/new-planing/sunny/photo(solnech)/20161130_130743-min.jpg' %}"/></a></li>
                    <li><a href="{% static 'images/new-planing/sunny/photo(solnech)/20161130_130800-min.jpg' %}"
                           class="overlay-trigger"><img src="{% static 'images/new-planing/sunny/photo(solnech)/20161130_130800-min.jpg' %}"/></a></li>
                    <li><a href="{% static 'images/new-planing/sunny/photo(solnech)/20161130_131002-min.jpg' %}"
                           class="overlay-trigger"><img src="{% static 'images/new-planing/sunny/photo(solnech)/20161130_131002-min.jpg' %}"/></a></li>
                    <li><a href="{% static 'images/new-planing/sunny/photo(solnech)/20161130_131008-min.jpg' %}"
                           class="overlay-trigger"><img src="{% static 'images/new-planing/sunny/photo(solnech)/20161130_131008-min.jpg' %}"/></a></li>
                    <li><a href="{% static 'images/new-planing/ulan/photo(ulan)/20160826_112510-min.jpg' %}"
                           class="overlay-trigger"><img src="{% static 'images/new-planing/ulan/photo(ulan)/20160826_112510-min.jpg' %}"/></a></li>
                    <li><a href="{% static 'images/new-planing/ulan/photo(ulan)/20160826_112949-min.jpg' %}"
                           class="overlay-trigger"><img src="{% static 'images/new-planing/ulan/photo(ulan)/20160826_112949-min.jpg' %}"/></a></li>
                    <li><a href="{% static 'images/new-planing/ulan/photo(ulan)/20160826_113000-min.jpg' %}"
                           class="overlay-trigger"><img src="{% static 'images/new-planing/ulan/photo(ulan)/20160826_113000-min.jpg' %}"/></a></li>
                    <li><a href="{% static 'images/new-planing/ulan/photo(ulan)/20160826_113010-min.jpg' %}"
                           class="overlay-trigger"><img src="{% static 'images/new-planing/ulan/photo(ulan)/20160826_113010-min.jpg' %}"/></a></li>
                    <li><a href="{% static 'images/new-planing/ulan/photo(ulan)/20160826_113027-min.jpg' %}"
                           class="overlay-trigger"><img src="{% static 'images/new-planing/ulan/photo(ulan)/20160826_113027-min.jpg' %}"/></a></li>
                    <li><a href="{% static 'images/new-planing/ulan/photo(ulan)/20160826_113042-min.jpg' %}"
                           class="overlay-trigger"><img src="{% static 'images/new-planing/ulan/photo(ulan)/20160826_113042-min.jpg' %}"/></a></li>
                    <li><a href="{% static 'images/new-planing/ulan/photo(ulan)/20160826_113115-min.jpg' %}"
                           class="overlay-trigger"><img src="{% static 'images/new-planing/ulan/photo(ulan)/20160826_113115-min.jpg' %}"/></a></li>
                    <li><a href="{% static 'images/new-planing/ulan/photo(ulan)/20160826_113145-min.jpg' %}"
                           class="overlay-trigger"><img src="{% static 'images/new-planing/ulan/photo(ulan)/20160826_113145-min.jpg' %}"/></a></li>
                    <li><a href="{% static 'images/new-planing/ulan/photo(ulan)/20160826_113216-min.jpg' %}"
                           class="overlay-trigger"><img src="{% static 'images/new-planing/ulan/photo(ulan)/20160826_113216-min.jpg' %}"/></a></li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ block.super }}
    <script src="{% static 'js/jquery.magnific-popup.js' %}"></script>
    <script src="{% static 'js/slick.js' %}"></script>
    <script>
        $('#header-slider').slick({
            infinite: true,
            speed: 500,
            arrows: true,
            dots: true,
            autoplay: true,
        });

        $('.overlay-trigger').magnificPopup({
            type: 'image',
            zoom: {
                enabled: true
            }
        });
    </script>
{% endblock %}