{% extends 'views/Base/base.html' %}

{% load staticfiles %}

{% block title %}Построенные объекты - OcOO "Ак Тулпар"{% endblock %}

{% block header_image %}
    <div class="header_image main-image">
        <div class="page_title">
            Строящиеся объекты
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="padding-20">
        <div class="complex-title">ЖИЛОЙ КОМПЛЕКС «УЛАН-2»</div>

        <div class="complex-content">
            <div class="complex-photos">
                <ul>
                    <li><img src="{% static 'images/photos/IMG_3375.JPG' %}"/></li>
                    <li><img src="{% static 'images/photos/IMG_3377.JPG' %}"/></li>
                    <li><img src="{% static 'images/photos/IMG_3387.JPG' %}"/></li>
                </ul>
            </div>
            <div class="complex-planing">
                <ul>
                    <li>
                        <div class="complex-context">
                            <img src="{% static 'images/3-2-2.PNG' %}" width="740" height="460" usemap="#3-2-2"/>
                            <map name="3-2-2">
                                <area shape="poly"
                                      class="own_area"
                                      data-toggle="modal"
                                      href="{% static 'images/planing/2/1.1.jpg' %}"
                                      coords="8,0 , 250,0 , 250,45 , 373,45 , 373,115 , 313,115 , 313,227 , 246,227 , 246,410 , 250,410 , 250,460 , 5,460 , 5,410 , 0,410  , 0,50 , 8,50"/>
                                <area class="own_area" href="{% static 'images/planing/2/1.3.jpg' %}" shape="poly"
                                      data-toggle="modal"
                                      coords="490,4 , 734,4 , 734,50 , 739,50 , 739,410 , 735,460 , 613,460 , 613,227 , 488,227 , 488,55 , 490,55"/>
                                <area class="own_area" href="{% static 'images/planing/2/1.2.jpg' %}" shape="poly"
                                      data-toggle="modal"
                                      coords="614,227 , 614,460 , 250,460 , 250,410 , 246,410 , 246,227"/>
                            </map>
                        </div>
                    </li>
                    <li>
                        <div class="complex-context">
                            <img src="{% static 'images/3-1-2.png' %}" width="740" height="460" usemap="#3-1-2"/>
                            <map name="3-1-2">
                                <area shape="poly"
                                      data-toggle="modal"
                                      class="own_area"
                                      href="{% static 'images/planing/4/3.1.jpg' %}"
                                      coords="12,3 , 251,3 , 250,45 , 251,44 , 373,44 , 373,114 , 313,114 , 313,227 , 246,227 , 128,227 , 128,457 , 250,460 , 8,457 , 8,411  , 3,411 , 3,49 , 12,49"/>
                                <area class="own_area"
                                      href="{% static 'images/planing/4/3.2.jpg' %}"
                                      shape="poly"
                                      data-toggle="modal"
                                      coords="128,227 , 370,227 , 370,459 , 128,459"/>
                                <area class="own_area"
                                      href="{% static 'images/planing/4/3.2.jpg' %}"
                                      shape="poly"
                                      data-toggle="modal"
                                      coords="370,227 , 613,227 , 613,457 , 370,457"/>
                                <area class="own_area"
                                      href="{% static 'images/planing/4/3.3.jpg' %}"
                                      shape="poly"
                                      data-toggle="modal"
                                      coords="489,3 , 732,3 , 732,49 , 739,39 , 739,411 , 733,411 , 733,459 , 612,457 , 612,227 , 487,227 , 487,49 , 489,49"/>
                            </map>
                        </div>
                    </li>
                    <li>
                        <div class="complex-context">
                            <img src="{% static 'images/planing/18/planing18.png' %}" width="740" height="460" usemap="#18"/>
                            <map name="18">
                                <area shape="poly"
                                      data-toggle="modal"
                                      class="own_area"
                                      href="{% static 'images/planing/18/18.1.jpg' %}"
                                      coords="3,3 , 252,3 , 252,49 , 372,49, 372,114 , 306,114 , 306,178 , 252,178 , 252,227 , 3,227"/>
                                <area class="own_area"
                                      href="{% static 'images/planing/18/18.2.jpg' %}"
                                      shape="poly"
                                      data-toggle="modal"
                                      coords="3,227 , 248,227 , 248,457 , 3,457"/>
                                <area class="own_area"
                                      href="{% static 'images/planing/18/18.2.jpg' %}"
                                      shape="poly"
                                      data-toggle="modal"
                                      coords="248,227 , 491,227 , 491,457 , 248,457"/>
                                <area class="own_area"
                                      href="{% static 'images/planing/18/18.3.jpg' %}"
                                      shape="poly"
                                      data-toggle="modal"
                                      coords="491,227 , 737,227 , 737,457 , 491,457"/>
                                <area class="own_area"
                                      href="{% static 'images/planing/18/18.3.jpg' %}"
                                      shape="poly"
                                      data-toggle="modal"
                                      coords="487,3 , 737,3 , 737,227 , 487,227"/>
                            </map>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="complex-title">ЖИЛОЙ КОМПЛЕКС «Солнечный»</div>

        <div class="complex-content">
            <div class="complex-photos">
                <ul>
                    <li><img src="{% static 'images/photos/IMG_3378.JPG' %}"/></li>
                    <li><img src="{% static 'images/photos/IMG_3386.JPG' %}"/></li>
                    <li><img src="{% static 'images/photos/IMG_3375.JPG' %}"/></li>
                </ul>
            </div>
            <div class="complex-planing">
                <ul>
                    <li>
                        <div class="complex-context">
                            <img src="{% static 'images/planing/3/planing3.png' %}" width="740" height="460" usemap="#3"/>
                            <map name="3">
                                <area shape="poly"
                                      data-toggle="modal"
                                      class="own_area"
                                      href="{% static 'images/planing/3/2.1.jpg' %}"
                                      coords="6,3 , 282,3 , 282,44 , 373,44, 373,114 , 328,114 , 328,172 , 282,172 , 282,184 , 242,184 , 242,227 , 2,227 , 2,49 , 6,49"/>
                                <area class="own_area"
                                      href="{% static 'images/planing/3/2.2.jpg' %}"
                                      shape="poly"
                                      data-toggle="modal"
                                      coords="2,227 , 278,227 , 278,457 , 6,457 , 6,411 , 2,411"/>
                                <area class="own_area"
                                      href="{% static 'images/planing/3/2.2.jpg' %}"
                                      shape="poly"
                                      data-toggle="modal"
                                      coords="278,227 , 452,227 , 462,457 , 278,447"/>
                                <area class="own_area"
                                      href="{% static 'images/planing/3/2.3.jpg' %}"
                                      shape="poly"
                                      data-toggle="modal"
                                      coords="462,227 , 738,227 , 738,411 , 734,411 , 734,451 , 462,457"/>
                                <area class="own_area"
                                      href="{% static 'images/planing/3/2.4.jpg' %}"
                                      shape="poly"
                                      data-toggle="modal"
                                      coords="458,3 , 734,3 , 734,49 , 738,49 , 738,226"/>
                            </map>
                        </div>
                    </li>
                    <li>
                        <div class="complex-context">
                            <img src="{% static 'images/3-2-2.PNG' %}" width="740" height="460" usemap="#3-2-2"/>
                            <map name="3-2-2">
                                <area shape="poly"
                                      class="own_area"
                                      data-toggle="modal"
                                      href="{% static 'images/planing/2/1.1.jpg' %}"
                                      coords="8,0 , 250,0 , 250,45 , 373,45 , 373,115 , 313,115 , 313,227 , 246,227 , 246,410 , 250,410 , 250,460 , 5,460 , 5,410 , 0,410  , 0,50 , 8,50"/>
                                <area class="own_area" href="{% static 'images/planing/2/1.3.jpg' %}" shape="poly"
                                      data-toggle="modal"
                                      coords="490,4 , 734,4 , 734,50 , 739,50 , 739,410 , 735,460 , 613,460 , 613,227 , 488,227 , 488,55 , 490,55"/>
                                <area class="own_area" href="{% static 'images/planing/2/1.2.jpg' %}" shape="poly"
                                      data-toggle="modal"
                                      coords="614,227 , 614,460 , 250,460 , 250,410 , 246,410 , 246,227"/>
                            </map>
                        </div>
                    </li>
                    <li>
                        <div class="complex-context">
                            <img src="{% static 'images/3-1-2.png' %}" width="740" height="460" usemap="#3-1-2"/>
                            <map name="3-1-2">
                                <area shape="poly"
                                      data-toggle="modal"
                                      class="own_area"
                                      href="{% static 'images/planing/4/3.1.jpg' %}"
                                      coords="12,3 , 251,3 , 250,45 , 251,44 , 373,44 , 373,114 , 313,114 , 313,227 , 246,227 , 128,227 , 128,457 , 250,460 , 8,457 , 8,411  , 3,411 , 3,49 , 12,49"/>
                                <area class="own_area"
                                      href="{% static 'images/planing/4/3.2.jpg' %}"
                                      shape="poly"
                                      data-toggle="modal"
                                      coords="128,227 , 370,227 , 370,459 , 128,459"/>
                                <area class="own_area"
                                      href="{% static 'images/planing/4/3.2.jpg' %}"
                                      shape="poly"
                                      data-toggle="modal"
                                      coords="370,227 , 613,227 , 613,457 , 370,457"/>
                                <area class="own_area"
                                      href="{% static 'images/planing/4/3.3.jpg' %}"
                                      shape="poly"
                                      data-toggle="modal"
                                      coords="489,3 , 732,3 , 732,49 , 739,39 , 739,411 , 733,411 , 733,459 , 612,457 , 612,227 , 487,227 , 487,49 , 489,49"/>
                            </map>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}