{% extends 'views/Base/base.html' %}

{% load staticfiles %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/magnific-popup.css' %}"/>
{% endblock %}

{% block title %}Построенные объекты - OcOO "Ак Тулпар"{% endblock %}

{% block header_image %}
    <div class="header_image main-image">
        <div class="page_title">
            Строящиеся объекты
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="padding-20">
        <div class="complex-title">ЖИЛОЙ КОМПЛЕКС «УЛАН-2»</div>

        <div class="complex-content">
            <div class="complex-photos">
                <ul>
                    <li><img
                            src="{% static 'images/new-planing/in-cunstruction/ulan/photo(ulan)/20160826_111421.jpg' %}"/>
                    </li>
                    <li><img
                            src="{% static 'images/new-planing/in-cunstruction/ulan/photo(ulan)/20160826_111425.jpg' %}"/>
                    </li>
                    <li><img
                            src="{% static 'images/new-planing/in-cunstruction/ulan/photo(ulan)/20160826_111548.jpg' %}"/>
                    </li>
                    <li><img
                            src="{% static 'images/new-planing/in-cunstruction/ulan/photo(ulan)/20160826_111618.jpg' %}"/>
                    </li>
                    <li><img
                            src="{% static 'images/new-planing/in-cunstruction/ulan/photo(ulan)/20160826_111631.jpg' %}"/>
                    </li>
                    <li><img
                            src="{% static 'images/new-planing/in-cunstruction/ulan/photo(ulan)/20160826_111723.jpg' %}"/>
                    </li>
                    <li><img
                            src="{% static 'images/new-planing/in-cunstruction/ulan/photo(ulan)/20160826_111750.jpg' %}"/>
                    </li>
                    <li><img
                            src="{% static 'images/new-planing/in-cunstruction/ulan/photo(ulan)/20160826_111808.jpg' %}"/>
                    </li>
                    <li><img
                            src="{% static 'images/new-planing/in-cunstruction/ulan/photo(ulan)/20160826_111919.jpg' %}"/>
                    </li>
                </ul>
            </div>
            <div class="complex-planing">
                <ul>
                    <li>
                        <div>
                            <img src="{% static 'images/new-planing/ulan/1-1-1-1-1/1-1-1-1-1.jpg' %}" width="720"/>
                            <p>*Фактическая площадь квартир может отличаться от проектной в пределах +- 1 м<sup>2</sup>
                            </p>
                            <ul class="planing-render">
                                <li><img src="{% static 'images/new-planing/ulan/1-1-1-1-1/1.png' %}"/></li>
                                <li><img src="{% static 'images/new-planing/ulan/1-1-1-1-1/2.png' %}"/></li>
                                <li><img src="{% static 'images/new-planing/ulan/1-1-1-1-1/3.png' %}"/></li>
                                <li><img src="{% static 'images/new-planing/ulan/1-1-1-1-1/4.png' %}"/></li>
                                <li><img src="{% static 'images/new-planing/ulan/1-1-1-1-1/5.png' %}"/></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="{% static 'images/new-planing/ulan/2-1-1-2/2-1-1-2.jpg' %}" width="720"/>
                            <p>*Фактическая площадь квартир может отличаться от проектной в пределах +- 1 м<sup>2</sup>
                            </p>
                            <ul class="planing-render">
                                <li><img src="{% static 'images/new-planing/ulan/2-1-1-2/1.png' %}"/></li>
                                <li><img src="{% static 'images/new-planing/ulan/2-1-1-2/2.png' %}"/></li>
                                <li><img src="{% static 'images/new-planing/ulan/2-1-1-2/3.png' %}"/></li>
                                <li><img src="{% static 'images/new-planing/ulan/2-1-1-2/4.png' %}"/></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="{% static 'images/new-planing/ulan/3-2-2/3-2-2.jpg' %}" width="720"/>
                            <p>*Фактическая площадь квартир может отличаться от проектной в пределах +- 1 м<sup>2</sup>
                            </p>
                            <ul class="planing-render">
                                <li><img src="{% static 'images/new-planing/ulan/3-2-2/1.png' %}"/></li>
                                <li><img src="{% static 'images/new-planing/ulan/3-2-2/2.png' %}"/></li>
                                <li><img src="{% static 'images/new-planing/ulan/3-2-2/3.png' %}"/></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="complex-title">ЖИЛОЙ КОМПЛЕКС «Солнечный»<br /><strong>В доме №5  горячее водоснабжение и отопление установлено с помощью гелиосистемы.</strong> <a href="{% static 'pdf/gelio.pdf' %}" target="_blank">подробнее...</a></div>
        <div class="complex-content">
            <div class="complex-photos">
                <ul>
                    <li><img src="{% static 'images/new-planing/in-cunstruction/sunny/photo/20161130_131453.jpg' %}"/>
                    </li>
                    <li><img src="{% static 'images/new-planing/in-cunstruction/sunny/photo/20161130_131523.jpg' %}"/>
                    </li>
                    <li><img src="{% static 'images/new-planing/in-cunstruction/sunny/photo/20161130_131703.jpg' %}"/>
                    </li>
                    <li><img src="{% static 'images/new-planing/in-cunstruction/sunny/photo/20161130_131713.jpg' %}"/>
                    </li>
                    <li><img src="{% static 'images/new-planing/in-cunstruction/sunny/photo/20161130_131720.jpg' %}"/>
                    </li>
                    <li><img src="{% static 'images/new-planing/in-cunstruction/sunny/photo/20161130_131742.jpg' %}"/>
                    </li>
                    <li><img src="{% static 'images/new-planing/in-cunstruction/sunny/photo/20161130_131850.jpg' %}"/>
                    </li>
                    <li><img src="{% static 'images/new-planing/in-cunstruction/sunny/photo/20161130_131927.jpg' %}"/>
                    </li>
                    <li><img src="{% static 'images/new-planing/in-cunstruction/sunny/photo/20161130_131932.jpg' %}"/>
                    </li>
                </ul>
            </div>
            <div class="complex-planing">
                <ul>
                    <li>
                        <div>
                            <img src="{% static 'images/new-planing/sunny/dom-5.jpg' %}" width="720"/>
                            <p>*Фактическая площадь квартир может отличаться от проектной в пределах +- 1 м<sup>2</sup>
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ block.super }}

    <script src="{% static 'js/jquery.magnific-popup.js' %}"></script>
    <script src="{% static 'js/area.js' %}"></script>
    <script>
        var magnificTrigger = $('img');
        $(magnificTrigger).bind('click', function (e) {
            e.preventDefault();
            $.magnificPopup.open({
                items: {
                    src: $(this).attr('src')
                },
                type: 'image'
            });
        });
    </script>
{% endblock %}