{% extends 'views/Base/base.html' %}

{% load staticfiles %}

{% block title %}О нас - OcOO "Ак Тулпар"{% endblock %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/slick.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/slick-theme.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/magnific-popup.css' %}" />
{% endblock %}

{% block header_image %}
    <div class="header_image"
         style="background: url('{% static 'images/render/2.jpg' %}') no-repeat fixed; background-size: cover; background-position: center;">
        <div class="dark_effect"></div>
        <div class="page_title">
            О КОМПАНИИ
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="title_center_text">
        Строительная компания ОсОО «Ак-Тулпар»
    </div>
    <div class="content_center_wrap_1">
        ОсОО «Ак-Тулпар» в области жилищного строительства работает с 2005 года. За этот период компанией было построено
        и введено в эксплуатацию более 30 зданий, среди которых:<br/>
        <br/>
        • 22 жилых дома – более 80 тыс. кв. метров жилья;<br/>
        • 2 подземных паркинга на 48 и 30 автомашин;<br/>
        • 2-х этажные коттеджи;<br/>
        • Наружные сети канализации и водопровода.<br/>
        <br/>
        Строительная компания «Ак-Тулпар», выступая в качестве заказчика, инвестора и застройщика, одной из главных
        своих целей ставит создание такого жилого пространства, которое сможет удовлетворить самым разнообразным
        потребностям. В ходе работ наряду с новейшими достижениями строительной отрасли используются проверенные
        технологии, а также высококачественные натуральные материалы ведущих российских и европейских производителей. В
        компани работают высококвалифицированные сотрудники с большим опытом работы в строительстве. Так же мы
        предоставляем услуги по аренде строительной спец. техники.<br/>
        <br/>
        Другой отличительной чертой деятельности ОсОО «Ак-Тулпар являются две стратегии продаж, призванные обеспечить
        покупателям наиболее комфортные условия приобретения недвижимости:<br/>
        <br/>
        1. Готовое жильё с оформленным правом собственности даёт клиенту возможность заселиться в квартиру в максимально
        короткие сроки.<br/>
        2. Строительство с привлечением средств дольщиков повышает доступность качественного жилья при наименьшем
        вложении средств и возможностью рассрочки.<br/>
    </div>
    <div class="certificates_wrap" data-slick='{"slidesToShow": 4, "slidesToScroll": 1}'>
        {% for image in toolpar %}
            {% if image.type == 1 %}
                <div><img src="{{ image.image.url }}" class="portrait_certificates"></div>
            {% else %}
                <div><img src="{{ image.image.url }}" class="album_certificates"></div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="certificates_shadow"></div>
    <div class="title_center_text">
        Строительная компания ОсОО «Нурлан»
    </div>
    <div class="content_center_wrap_2">
        Компания ОсОО "Нурлан" на строительном рынке с 1995 года, за это время зарекомендовала себя как стабильная,
        динамично развивающаяся компания, осуществляющая весь спектр строительных, реставрационных и ремонтных работ, в
        том числе осуществляя функции Генерального Подрядчика.<br/>
        <br/>
        Основным направлением деятельности нашей фирмы является строительство 9-ти этажных панельных жилых домов под
        самоотделку, капитальное строительство, реконструкция и ремонт жилых и офисных зданий.<br/>
        В спектр наших услуг входит также архитектурное проектирование домов, зданий и сооружений, проектирование
        инженерных систем, ремонт и отделка офисов любой сложности, отделка коттеджей, салонов, клубов и ресторанов,
        спортивных сооружений, и пр.<br/>
        <br/>
        Состав наших специалистов остается неизменным в течении многих лет. Используя проверенных и обученных
        профессионалов, мы можем с полной ответственностью утверждать, что качество нашей работы находится на высоком
        профессиональном уровне. Можете поверить - нам есть чем гордиться! С помощью хорошо зарекомендовавших себя
        строителей, инженеров, архитекторов, мы смело беремся за такие проекты как, реконструкция промышленных зданий и
        сооружений, проектирование складов, строительство производственных помещений, строительство жилых домов и
        другие.
    </div>
    <div class="certificates_wrap" data-slick='{"slidesToShow": 4, "slidesToScroll": 1}'>
        {% for image in nurlan %}
            {% if image.type == 1 %}
                <div><img src="{{ image.image.url }}" class="portrait_certificates"></div>
            {% else %}
                <div><img src="{{ image.image.url }}" class="album_certificates"></div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="certificates_shadow"></div>
{% endblock %}

{% block javascripts %}
    {{ block.super }}
    <script src="{% static 'js/slick.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.js' %}"></script>
    <script>
        var slider_block = $('.certificates_wrap');

        $(slider_block).slick({
            infinite: true,
            autoplay: true,
            arrow: true,
            dots: false,
            speed: 1000
        });
        var magnificTrigger = $('img');
        $(magnificTrigger).bind('click', function (e) {
            e.preventDefault();
            $.magnificPopup.open({
                items: {
                    src: $(this).attr('src')
                },
                type: 'image'
            });
        });
    </script>
{% endblock %}