{% extends 'views/Base/base.html' %}

{% load staticfiles %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/magnific-popup.css' %}"/>
{% endblock %}

{% block title %}Проектируемые объекты - OcOO "Ак Тулпар"{% endblock %}

{% block header_image %}
    <div class="header_image main-image">
        <div class="page_title">
            Проектируемые объекты
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="padding-20">
        <div class="complex-title">Дом 26</div>

        <div class="complex-content">
            <div class="complex-photos">
                <ul>
                    <li><img src="{% static 'images/projecting/26/1.jpg' %}"/></li>
                    <li><img src="{% static 'images/projecting/26/2.jpg' %}"/></li>
                    <li><img src="{% static 'images/projecting/26/3.jpg' %}"/></li>
                    <li><img src="{% static 'images/projecting/26/5.jpg' %}"/></li>
                    <li><img src="{% static 'images/projecting/26/6.jpg' %}"/></li>
                    <li><img src="{% static 'images/projecting/26/7.jpg' %}"/></li>
                    <li><img src="{% static 'images/projecting/26/8.jpg' %}"/></li>
                    <li><img src="{% static 'images/projecting/26/9.jpg' %}"/></li>
                    <li><img src="{% static 'images/projecting/26/10.jpg' %}"/></li>
                </ul>
            </div>
            <div class="complex-planing">
                <ul>
                    <li>
                        <div>
                            <img src="{% static 'images/planing/26dom/garazh.jpg' %}" width="720"/>
                            <p>*Фактическая площадь квартир может отличаться от проектной в пределах +- 1 м<sup>2</sup>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="{% static 'images/planing/26dom/firstfloor.jpg' %}" width="720"/>
                            <p>*Фактическая площадь квартир может отличаться от проектной в пределах +- 1 м<sup>2</sup>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <p>Типовой этаж:</p>
                            <img src="{% static 'images/planing/26dom/dom-n26.jpg' %}" width="720"/>
                            <p>*Фактическая площадь квартир может отличаться от проектной в пределах +- 1 м<sup>2</sup>
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="complex-title">Дом 28</div>

        <div class="complex-content">
            <div class="complex-photos">
                <ul>
                    <li><img src="{% static 'images/projecting/28/dom28-1.jpg' %}"/></li>
                    <li><img src="{% static 'images/projecting/28/dom28-2.jpg' %}"/></li>
                    <li><img src="{% static 'images/projecting/28/dom28-3.jpg' %}"/></li>
                    <li><img src="{% static 'images/projecting/28/dom28-4.jpg' %}"/></li>
                    <li><img src="{% static 'images/projecting/28/dom28-5.jpg' %}"/></li>
                </ul>
            </div>
        </div>
        <div class="complex-planing">
            <ul>
                <li>
                    <div>
                        <img src="{% static 'images/planing/28dom/pod+1et.jpg' %}" width="720"/>
                        <p>*Фактическая площадь квартир может отличаться от проектной в пределах +- 1 м<sup>2</sup></p>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="{% static 'images/planing/28dom/s-2--po-9-et.jpg' %}" width="720"/>
                        <p>*Фактическая площадь квартир может отличаться от проектной в пределах +- 1 м<sup>2</sup></p>
                    </div>
                </li>
            </ul>
        </div>

        <div class="complex-title">По улице Акылбекова</div>
        <div class="complex-planing">
            <ul>
                <li>
                    <div>
                        <img src="{% static 'images/planing/akylbekova/2.jpg' %}" width="720" />
                    </div>
                </li>
                <li>
                    <div>
                        <img src="{% static 'images/planing/akylbekova/3.jpg' %}" width="720" />
                        <p>*Фактическая площадь квартир может отличаться от проектной в пределах +- 1 м<sup>2</sup></p>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="{% static 'images/planing/akylbekova/1.jpg' %}" width="720" />
                        <p>*Фактическая площадь квартир может отличаться от проектной в пределах +- 1 м<sup>2</sup></p>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="{% static 'images/planing/akylbekova/4.jpg' %}" width="720" />
                        <p>*Фактическая площадь квартир может отличаться от проектной в пределах +- 1 м<sup>2</sup></p>
                    </div>
                </li>
            </ul>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ block.super }}

    <script src="{% static 'js/jquery.magnific-popup.js' %}"></script>
    <script src="{% static 'js/area.js' %}"></script>
    <script>
        var magnificTrigger = $('img');
        var newangle = 0;
        $(magnificTrigger).bind('click', function (e) {
            e.preventDefault();
            $.magnificPopup.open({
                items: {
                    src: $(this).attr('src')
                },
                type: 'image'
            });
        });
    </script>
{% endblock %}