<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Аренда техники</title>
    <link rel="shortcut icon" href="IMAGES/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="CSS/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="CSS/style.css"/>
    <script src="js/jquery-3.1.0.min.js"></script>
    <script src="js/bootstrap.js"></script>
</head>
<body>
    <!-- ======================== Header ============================-->
    <div class="top_nav_bar">
        <div class="nav_bar">
            <a href="#">
                <div class="main_logo">

                </div>
            </a>

            <div class="nav_menu">
                <ul class="nav_menu_ul">
                    <a href="#" class="toolpar_links">
                        <li class="nav_menu_li nav_menu_active">ГЛАВНАЯ</li>
                    </a>
                    <a href="#" class="toolpar_links">
                        <li class="nav_menu_li">О НАС</li>
                    </a>
                    <li class="nav_menu_li">
                        ОБЪЕКТЫ
                        <ul class="submenu">
                            <li>Построенные</li>
                            <li>Строящиеся</li>
                            <li>Проектирумые</li>
                        </ul>
                    </li>
                    <li class="nav_menu_li">
                        УСЛУГИ
                        <ul class="submenu">
                            <li>Строительство</li>
                            <li>Аренда техники</li>
                            <li>Проектирование</li>
                        </ul>
                    </li>
                    <a href="#" class="toolpar_links">
                        <li class="nav_menu_li">КОНТАКТЫ</li>
                    </a>
                </ul>
            </div>
        </div>
    </div>
    <div class="header_image image_2">
        <div class="page_title">
            Аренда<br />
            техники
        </div>
        <div class="dark_effect"></div>
    </div>
    <!-- ======================== End Header =========================-->

    <!-- ======================== Body ============================== -->
    <div class="page_body">
        <div class="padding-20 inline-block">
            <div class="car_machine margin-right-10">
                <div class="car_machine_hover" drop-target="#kam1" drop-toggle="closed">
                    Автокраны
                </div>
                <img src="IMAGES/ex/ex1.png" />
            </div>
            <div class="car_machine margin-right-10">
                <div class="car_machine_hover" drop-target="#kam3" drop-toggle="closed">
                    Тягачи
                </div>
                <img src="IMAGES/ex/ex3.png" />
            </div>
            <div class="car_machine margin-right-10">
                <div class="car_machine_hover" drop-target="#fura" drop-toggle="closed">
                    Фургоны
                </div>
                <img src="IMAGES/ex/fura.png" />
            </div>
            <div class="car_machine">
                <div class="car_machine_hover" drop-target="#escalators" drop-toggle="closed">
                    Эксколаторы
                </div>
                <img src="IMAGES/ex/ex4.png" />
            </div>
        </div>

        <div class="padding-20">

            <div class="technical_drop_list" id="escalators">
                <div class="tech_good margin-right-6 margin-bottom-10">
                    <div class="tech_good_cat">
                        Экскаватор
                    </div>
                    <div class="tech_good_image">
                        <div class="tech_good_image_wrap" style="background: url('IMAGES/AT/Photo/Hyundai%20R210W-9S.jpg') center no-repeat; -webkit-background-size: 237px;background-size: 237px; "></div>
                    </div>
                    <div class="tech_good_title">
                        Hyundai R210W-9S
                    </div>
                    <div class="tech_good_description text-size-13">
                        <p class="bold-text text-black-color margin-bottom-4">Эксплуатационная масса, кг:</p>
                        <p class="regular-text text-black-light-color margin-bottom-4">20 690.00</p>
                        <P class="bold-text text-black-color margin-bottom-4">Объем ковша, м.куб:</P>
                        <p class="regular-text text-black-light-color margin-bottom-4">1.05</p>
                        <p class="bold-text text-black-color margin-bottom-4">Глубина копания, мм :</p>
                        <p class="regular-text text-black-light-color margin-bottom-4">6380</p>
                    </div>
                </div>
                <div class="tech_good margin-right-6 margin-bottom-10">
                    <div class="tech_good_cat">
                        Экскаватор
                    </div>
                    <div class="tech_good_image">
                        <div class="tech_good_image_wrap" style="background: url('IMAGES/AT/Photo/Hyundai%20R180W-9S.jpg') center no-repeat; -webkit-background-size: 237px;background-size: 237px; "></div>
                    </div>
                    <div class="tech_good_title">
                        Hyundai R180W-9S
                    </div>
                    <div class="tech_good_description text-size-13">
                        <p class="bold-text text-black-color margin-bottom-4">Эксплуатационная масса, кг:</p>
                        <p class="regular-text text-black-light-color margin-bottom-4">18 420.00</p>
                        <P class="bold-text text-black-color margin-bottom-4">Объем ковша, м.куб:</P>
                        <p class="regular-text text-black-light-color margin-bottom-4">0.86</p>
                        <p class="bold-text text-black-color margin-bottom-4">Глубина копания, мм :</p>
                        <p class="regular-text text-black-light-color margin-bottom-4">5420</p>
                    </div>
                </div>
                <div class="tech_good margin-right-6 margin-bottom-10">
                    <div class="tech_good_cat">
                        Экскаватор
                    </div>
                    <div class="tech_good_image">
                        <div class="tech_good_image_wrap" style="background: url('IMAGES/AT/Photo/Hyundai%20R1400W-7.jpg') center no-repeat; -webkit-background-size: 237px;background-size: 237px; "></div>
                    </div>
                    <div class="tech_good_title">
                        Hyundai R1400 W-7
                    </div>
                    <div class="tech_good_description text-size-13">
                        <p class="bold-text text-black-color margin-bottom-4">Эксплуатационная масса, кг:</p>
                        <p class="regular-text text-black-light-color margin-bottom-4">13 600.00</p>
                        <P class="bold-text text-black-color margin-bottom-4">Объем ковша, м.куб:</P>
                        <p class="regular-text text-black-light-color margin-bottom-4">0.65</p>
                        <p class="bold-text text-black-color margin-bottom-4">Глубина копания, мм :</p>
                        <p class="regular-text text-black-light-color margin-bottom-4">4820</p>
                    </div>
                </div>
                <div class="tech_good margin-bottom-10">
                    <div class="tech_good_cat">
                        Экскаватор-погрузчик
                    </div>
                    <div class="tech_good_image">
                        <div class="tech_good_image_wrap" style="background: url('IMAGES/AT/Photo/Hyundau%20H940S.jpg') center no-repeat; -webkit-background-size: 237px;background-size: 237px; "></div>
                    </div>
                    <div class="tech_good_title">
                        Hyundai H940S
                    </div>
                    <div class="tech_good_description text-size-13">
                        <p class="bold-text text-black-color margin-bottom-4">Эксплуатационная масса, кг:</p>
                        <p class="regular-text text-black-light-color margin-bottom-4">8 500 кг</p>
                        <P class="bold-text text-black-color margin-bottom-4">Объем ковша, м.куб:</P>
                        <p class="regular-text text-black-light-color margin-bottom-4">0,2</p>
                        <p class="bold-text text-black-color margin-bottom-4">Объем погр.ковша м.куб:</p>
                        <p class="regular-text text-black-light-color margin-bottom-4">1</p>
                    </div>
                </div>
                <div class="tech_good">
                    <div class="tech_good_cat">
                        Экскаватор-погрузчик
                    </div>
                    <div class="tech_good_image">
                        <div class="tech_good_image_wrap" style="background: url('IMAGES/AT/Photo/Hyundau%20H940S.jpg') center no-repeat; -webkit-background-size: 237px;background-size: 237px; "></div>
                    </div>
                    <div class="tech_good_title">
                        Hyundai H940S
                    </div>
                    <div class="tech_good_description text-size-13">
                        <p class="bold-text text-black-color margin-bottom-4">Эксплуатационная масса, кг:</p>
                        <p class="regular-text text-black-light-color margin-bottom-4">8 500 кг</p>
                        <P class="bold-text text-black-color margin-bottom-4">Объем ковша, м.куб:</P>
                        <p class="regular-text text-black-light-color margin-bottom-4">0,2</p>
                        <p class="bold-text text-black-color margin-bottom-4">Объем погр.ковша м.куб:</p>
                        <p class="regular-text text-black-light-color margin-bottom-4">1</p>
                    </div>
                </div>
            </div>

            <div class="technical_drop_list" id="fura">
                <div class="tech_good margin-right-6 margin-bottom-10">
                    <div class="tech_good_cat">
                        Экскаватор
                    </div>
                    <div class="tech_good_image">
                        <div class="tech_good_image_wrap" style="background: url('IMAGES/AT/Photo/Hyundai%20R210W-9S.jpg') center no-repeat; -webkit-background-size: 237px;background-size: 237px; "></div>
                    </div>
                    <div class="tech_good_title">
                        Hyundai R210W-9S
                    </div>
                    <div class="tech_good_description text-size-13">
                        <p class="bold-text text-black-color margin-bottom-4">Эксплуатационная масса, кг:</p>
                        <p class="regular-text text-black-light-color margin-bottom-4">20 690.00</p>
                        <P class="bold-text text-black-color margin-bottom-4">Объем ковша, м.куб:</P>
                        <p class="regular-text text-black-light-color margin-bottom-4">1.05</p>
                        <p class="bold-text text-black-color margin-bottom-4">Глубина копания, мм :</p>
                        <p class="regular-text text-black-light-color margin-bottom-4">6380</p>
                    </div>
                </div>
                <div class="tech_good margin-right-6 margin-bottom-10">
                    <div class="tech_good_cat">
                        Экскаватор
                    </div>
                    <div class="tech_good_image">
                        <div class="tech_good_image_wrap" style="background: url('IMAGES/AT/Photo/Hyundai%20R180W-9S.jpg') center no-repeat; -webkit-background-size: 237px;background-size: 237px; "></div>
                    </div>
                    <div class="tech_good_title">
                        Hyundai R180W-9S
                    </div>
                    <div class="tech_good_description text-size-13">
                        <p class="bold-text text-black-color margin-bottom-4">Эксплуатационная масса, кг:</p>
                        <p class="regular-text text-black-light-color margin-bottom-4">18 420.00</p>
                        <P class="bold-text text-black-color margin-bottom-4">Объем ковша, м.куб:</P>
                        <p class="regular-text text-black-light-color margin-bottom-4">0.86</p>
                        <p class="bold-text text-black-color margin-bottom-4">Глубина копания, мм :</p>
                        <p class="regular-text text-black-light-color margin-bottom-4">5420</p>
                    </div>
                </div>
                <div class="tech_good margin-right-6 margin-bottom-10">
                    <div class="tech_good_cat">
                        Экскаватор
                    </div>
                    <div class="tech_good_image">
                        <div class="tech_good_image_wrap" style="background: url('IMAGES/AT/Photo/Hyundai%20R1400W-7.jpg') center no-repeat; -webkit-background-size: 237px;background-size: 237px; "></div>
                    </div>
                    <div class="tech_good_title">
                        Hyundai R1400 W-7
                    </div>
                    <div class="tech_good_description text-size-13">
                        <p class="bold-text text-black-color margin-bottom-4">Эксплуатационная масса, кг:</p>
                        <p class="regular-text text-black-light-color margin-bottom-4">13 600.00</p>
                        <P class="bold-text text-black-color margin-bottom-4">Объем ковша, м.куб:</P>
                        <p class="regular-text text-black-light-color margin-bottom-4">0.65</p>
                        <p class="bold-text text-black-color margin-bottom-4">Глубина копания, мм :</p>
                        <p class="regular-text text-black-light-color margin-bottom-4">4820</p>
                    </div>
                </div>
                <div class="tech_good margin-bottom-10">
                    <div class="tech_good_cat">
                        Экскаватор-погрузчик
                    </div>
                    <div class="tech_good_image">
                        <div class="tech_good_image_wrap" style="background: url('IMAGES/AT/Photo/Hyundau%20H940S.jpg') center no-repeat; -webkit-background-size: 237px;background-size: 237px; "></div>
                    </div>
                    <div class="tech_good_title">
                        Hyundai H940S
                    </div>
                    <div class="tech_good_description text-size-13">
                        <p class="bold-text text-black-color margin-bottom-4">Эксплуатационная масса, кг:</p>
                        <p class="regular-text text-black-light-color margin-bottom-4">8 500 кг</p>
                        <P class="bold-text text-black-color margin-bottom-4">Объем ковша, м.куб:</P>
                        <p class="regular-text text-black-light-color margin-bottom-4">0,2</p>
                        <p class="bold-text text-black-color margin-bottom-4">Объем погр.ковша м.куб:</p>
                        <p class="regular-text text-black-light-color margin-bottom-4">1</p>
                    </div>
                </div>
            </div>

        </div>








        <div class="pre-footer"></div>
        <!-- ======================== Footer ============================-->
        <div class="footer">
            <div class="footer_background">

            </div>
            <div class="footer_contacts">
                <div class="footer_logo">
                    <img src="IMAGES/footer_logo.png"/>
                </div>
                <div class="footer_contact">
                    <div>Контакты</div>
                    + 996 312 90 03 15<br/>
                    + 996 770 53 50 03<br/>
                    + 996 770 53 50 08
                </div>
                <div class="footer_address">
                    <span>НАШ АДРЕС</span> <br/>
                    <br/>
                    Кыргызская Республика, 720083<br/>
                    г. Бишкек, ул. Шабдан Баатыра 2<br/>
                    (микрорайон Кок-Жар)<br/>
                    <br/>
                    E-mail: <a href="mailto:aktulpar2014@yandex.ru" target="_blank">aktulpar2014@yandex.ru</a>
                </div>
            </div>
        </div>
        <!-- ======================== End Footer ========================-->
    </div>
    <!-- ======================== End Body ==========================-->



</body>
</html>
<script>
    var drop_lists = $('.car_machine_hover');


    $(drop_lists).on('click', function(e) {
        if($(this).attr('drop-toggle') != 'opened') {
            $.each($(drop_lists), function() {
                if($(this).hasClass('car_machine_active')) {
                    $(this).removeClass('car_machine_active');
                }
                $($(this).attr('drop-target')).fadeOut('fast');
            });
            if(!$(this).hasClass('car_machine_active')) {
                $(this).addClass('car_machine_active');
            }
            $($(this).attr('drop-target')).fadeIn('slow');
            $(this).attr('drop-toggle', 'opened');
        } else {
            if($(this).hasClass('car_machine_active')) {
                $(this).removeClass('car_machine_active');
            }
            $($(this).attr('drop-target')).fadeOut('slow');
            $(this).attr('drop-toggle', 'closed');
        }
    });
</script>