{% extends 'views/Base/base.html' %}

{% load staticfiles %}

{% block title %}{{ building.title }} - OcOO "Ак Тулпар"{% endblock %}

{% block header_image %}
    <div class="header_image" style="background: url('{{ building.gallery.image.url }}') fixed no-repeat center; background-size: cover;">
        <div class="dark_effect"></div>
        <div class="page_title">
            {{ building.title }}
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="side_bar">
        <ul>
            {% for object in buildings %}
            <a href="{% url 'buildingEntrance' id=object.id %}">
                <li>
                    <div class="side_bar_hover">
                        <div class="side_bar_info">
                            {{ object.title }}
                        </div>
                    </div>
                    <img src="{{ object.gallery.image.url }}"/>
                </li>
            </a>
            {% endfor %}
        </ul>
    </div>
    <div class="page_content">
        <div class="object_title">
            {{ building.title }}
        </div>
        <div class="object_location">
            <img src="{% static 'images/place.png' %}"/> {{ building.location }}
        </div>
        <div class="object_content">
            <div class="object_description">
                <div class="description_title">Описание</div>
                <div class="description_text">
                    Дома расположены в микрорайоне Улан (г.Бишкек) с развитой инфраструктурой.<br/>
                    <br/>
                    К дому подключены:<br/>
                    - электричество<br/>
                    - внутренний водопровод и канализация<br/>
                    - эл. отопление<br/>
                    - водоснабжение<br/>
                    - газоснабжение<br/>
                    <br/>
                    Все квартиры под самоотделку. Наружное остекление выполнено высоко-качественными стеклопакетами.
                    Благоустройство двора «под ключ» - озеленение, устройство детской площадки, устройство пандусов в
                    подъезд.<br/>
                    Продажа квартир возможна в рассрочку до конца строительства, с индивидуальным подходом к каждому
                    покупателю
                </div>
            </div>
            <div class="object_images">
                <div class="show_plane gen-planing-view-trigger"  data-toggle="modal" data-target=".gen-planing-view" data-source="{{ building.genPlan.url }}" >
                    <img src="{% static 'images/screpka.png' %}"/>
                    Показать<br/>
                    Генплан
                </div>
                <div class="image_wrap">
                    <div class="slider_main_image">
                        <img src="{{ building.gallery.image.url }}" width="453px" height="264px"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="object_planing">
            <div class="object_planing_tabs">
                <div class="entrance-1 entrance_active">
                    ПЛАНИРОВКА ПОДЪЕЗДА №1
                </div>
                <div class="entrance-2">
                    ПЛАНИРОВКА ПОДЪЕЗДА №2
                </div>
                <div class="ent-1" id="ent1">
                    <img src="{{ building.entrance1.url }}" width="740px" height="460px"/>
                </div>
                <div class="ent-2" id="ent2">
                    <img src="{{ building.entrance2.url }}" width="740px" height="460px"/>
                </div>
            </div>
        </div>
        <div class="object_flats">
            <div class="object_flats_title">
                ВИЗУАЛИЗАЦИЯ КВАРТИР
            </div>
            <ul>
                {% for render in building.flats.all %}
                    <li>
                        <img src="{{ render.render.url }}" data-toggle="modal" data-target=".image-view" class="image-view-trigger" /><br/>
                        <span class="flat-title">{{ render.title }}</span><br/>
                        <span class="flat-description">{{ render.description }}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ block.super }}
    <script>
        var trigger = $('.image-view-trigger');
        var genTrigger = $('.gen-planing-view-trigger');

        $(document).ready(function () {
            $(trigger).on('click', function (e) {
                $('#image-view').attr('src', $(this).attr('src'));
                $('#image-view-modal-label').html($('.flat-title', $(this).parent()).html() + ' > ' + $('.flat-description', $(this).parent()).html());
            });

            $(genTrigger).on('click', function (e) {
                $('#gen-planing-view').attr('src', $(this).attr('data-source'));
            })
        });
    </script>
{% endblock %}